/* CSS Variables -> Color Themes */
.divii {
  --custom-background-color:#FCFCFC;
  --block-bg: #E3E3E3;
  --theme-color: #5B9EBB;
  --text-primary: #333333;
  --heading-1: #266076;
  --heading-2: #D6EBF0;
  --text-link: #5B9EBB;
  --font: "helvetica", sans-serif;
}

/* End of | CSS Variables -> Color Themes */

html {
  line-height: 1.5rem;
  padding-left: 2px;
  padding-right: 2px;
  background-color: var(--custom-background-color);
  color: var(--text-primary);
  font-family: var(--font);
}

footer p{
  font-weight: bold;
  text-align: center;
  color: var(--heading-1);
}

h1, h2, h3, h4 {
  color: var(--heading-1);
}

p {
  text-align: justify;
  color: var(--text-primary);
  font-weight: lighter;
}

ul {

  font-weight: lighter;
}

a {
  font-weight: bold;
  text-decoration: none;
  transition-duration: 1s;
  color: var(--text-link);
}

a:hover {
  color: var(--heading-2);
}

nav {
  font-size: 2rem;
  padding-bottom: 120px;
  border-bottom: 3px solid;
  color: var(--theme-color);
}

header {
  padding-bottom: 20px;
}

footer {
  margin: 20px;
  padding: 20px;
}

.logo {
  float: left;
  max-width: 300px;
  transition-duration: 1s;
}

.logo:hover {
  opacity: 50%;
}

.nav {
  float: left;
  padding-right: 10px;
  padding-top: 20px;
}

#logo {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2rem;
  color: var(--heading-1);
}

.page {
  background-color: var(--theme-color);
  border-radius: 20px;
  padding: 5px;
}

.block {
  margin: 8px;
  padding: 8px;
  background-color: var(--custom-background-color);
  border-radius: 20px;
}

.inner-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block p {
  color: var(--text-primary);
}


.team {
  width: 100%;
}

.landing-page {
  background-color: var(--theme-color);
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin: auto;
}

.landing-block h2 {
  font-size: 2rem;
}

.landing-block {
  background-color: var(--custom-background-color);
  padding: 15px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  justify-content: center;
  border-radius: 20px;
  width: 90%;
  transition-duration: 1s;
  height: 200px;
  text-align: center;
}

.landing-block:hover {
  background-color: var(--theme-color);
}

.landing-title {
  font-size: 2rem;
  line-height: 2rem;
}

.portrait-img {
  background-color: var(--theme-color);
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: 30%;
  height: auto;
  margin-top: -40px; 
  margin-right: 10px;
  float: left;
}

.active {
  color: var(--heading-1);
}

@media only screen and (min-width: 370px) {
  .landing-block {
    height: 260px;
  } 
}

@media only screen and (min-width: 430px) {
  .landing-block {
    height: 300px;
  } 
  .nav {
    font-size: 1rem;
    float: right;
    padding-top: 40px;
  }
  nav {
    padding-bottom: 100px;
}

@media only screen and (min-width: 480px) {
  .landing-block {
    height: 300px;
  } 

}

@media only screen and (min-width: 500px) {
  .nav {
    font-size: 1.5rem;
  }
  .landing-title {
    font-size: 3rem;
    line-height: 3rem;
  }
  .block {
    margin: 20px;
    padding: 20px;
  }
  .page {
    padding: 10px;
  }
  .landing-block {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  } 
}

@media only screen and (min-width: 600px) {
  .landing-block {
    height: 340px;
  } 
}


@media only screen and (min-width: 768px) {
  html {
    padding-left: 10%;
    padding-right: 10%;
  }
  .landing-block {
    height: 240px;
    width: 50%;
    margin: 10px;
  } 
  .landing-page {
    display: flex;
    flex: space-between;
    justify-content: center;
    align-items: center;
  }
  .nav {
    font-size: 2rem;
    justify-content: center;
  }
  .landing-title {
    font-size: 4rem;
    line-height: 4rem;  
  }
  .portrait-img {
    width: 20%;
  }
}

@media only screen and (min-width: 992px) {
  .landing-block {
    height: 300px;
  } 
}

@media only screen and (min-width: 1550px) {
  html {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media only screen and (min-width: 2000px) {
  .landing-block {
    height: 340px;
  } 
}

